@mixin reset(){
    margin: 0;
    padding: 0;
    line-height: 1;
}

body {
    font-size: 16px;
    font-family: '游ゴシック','YuGothic','ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN','ＭＳ Ｐゴシック','MS Gothic',sans-serif;
    @include reset();
}

#dark-kifu-component {
    @include reset();
}


.piece {
    font-size: 24px;
    font-family:"游明朝, YuMincho, ヒラギノ明朝 ProN W3, Hiragino Mincho ProN, ＭＳ Ｐ明朝, MS Mincho, serif"
}

